.container {
  padding: 0 2rem;
}
.allPostItem {
  display: flex;
  flex-wrap: wrap;
}
.endStyle {
  padding: 16px;
}
.postItem {
  width: calc(33.333% - 30px);
  margin: 12px 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px -1px #333333;
  padding: 8px 20px;
  border-radius: 5px;
  transition: all .3s;
}

.postItem:hover {
  background-color: #ededed;
  transform: translate(0px, -5px);
}